body {
  background: #F2F2F2;
  padding-top: 70px;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: 'Lato', sans-serif;
}
footer#bottom-bar nav {
  border-radius: 0px;
  margin-bottom: 0px;
  color: white;
}
div.panel div.panel-body h1.remove-top-margin,
div.panel div.panel-body h2.remove-top-margin,
div.panel div.panel-body h3.remove-top-margin,
div.panel div.panel-body h4.remove-top-margin,
div.panel div.panel-body h5.remove-top-margin,
div.panel div.panel-body h6.remove-top-margin {
  margin-top: 0px !important;
}
div.panel div.panel-body p.lead.remove-bottom-margin {
  margin-bottom: 0px !important;
}
div.panel div.panel-body p.lead.lead-labels {
  line-height: 36px;
}
div.panel div.panel-body div.alert.alert-info:last-child {
  margin-bottom: 0px;
}
div.panel div.panel-body article:last-child hr {
  display: none;
}
.navbar-inverse {
  background: #2A2F37;
}
div#main-background-content {
  margin-top: 50px;
}
section#hero-container {
  background: #222222;
  position: relative;
  margin-top: -22px;
  padding-top: 24px;
  padding-bottom: 20px;
}
section#hero-container div.main-background-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #222222;
  opacity: 0.4;
  color: white;
}
section#hero-container article.main-background-text h1,
section#hero-container article.main-background-text h3 {
  color: white;
}
section#hero-container article.main-background-text h1 {
  font-size: 30px;
  line-height: 40px;
}
section#hero-container article.main-background-text h3 {
  font-size: 20px;
  line-height: 30px;
  margin: 0px;
}
section#hero-container.main-hero {
  background-image: url('images/DeathtoStock_Wired7.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: 20% 50%;
  min-height: 500px;
}
section#below-hero-container {
  padding-top: 100px;
  padding-bottom: 100px;
}
footer#main-footer {
  background: White;
  padding-top: 30px;
  min-height: 400px;
}
